<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Success!</title>
		<link href="./public/styles/style.css" rel="stylesheet">
	</head>
	
	<body>
		<div id='topBar' class='topBar'>

			<div id='titleBox' class='titleBox'>
        <b>SEC Filings</b>
      </div>

		</div>
	
	 <div class="container">

	<div class="dataRow">
			<br>
			<br>
          <%- statusMessage %>
	</div>
	</div>


</div>
		
	</body>
</html>